
*.tlog
*.cobolBuildState
*.idy
*.dll
*.dll
*.exe
*.obj
*.mfgcf
*.mfu
.vs/AirportDemo/v15/.suo
*.int
AirportLib/obj/x86/Debug/AirportLib.cblproj.FileListAbsolute.txt
AirportLib/obj/x86/Debug/AirportLibrary.cblproj.FileListAbsolute.txt
*.dll
*.dll
*.tlog
*.tlog
*.xml
*.tlog
*.dll
*.cobolBuildState
*.xml
.vs/AirportDemo/v15/.suo
